@model WagenparkMVC.Models.auto

@{
    ViewBag.Title = "Delete";
}

<div class="center jumbotron">

		<h2 class="layoutSettings">Auto verwijderen?</h2>
		<br />

		<div class="layoutSettings">
			Merk: @Html.DisplayFor(model => model.merk)
		</div>

		<div class="layoutSettings">
			Type: @Html.DisplayFor(model => model.Type)
		</div>

		<div class="layoutSettings">
			Dealer: @Html.DisplayFor(model => model.dealer.naam)
		</div>
		@using (Html.BeginForm())
		{
		@Html.AntiForgeryToken()

		<div class="form-actions no-color">
			<input type="submit" value="Delete" class="btn btn-warning" />
			<input value="Terug" class="btn btn-danger" onclick="location.href='@Url.Action("Index", "autoes")'" />
		</div>
		}
</div>
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
	@Styles.Render("~/Content/main.css")
	@Styles.Render("~/Content/menu.css")
}
