@model WagenparkMVC.Models.auto

@{
    ViewBag.Title = "Delete";
}

<div class="center jumbotron">
	<dl class="dl-horizontal">
		<h2 class="layoutSettings">Auto verwijderen</h2>
		<dt class="layoutSettings">
			Merk
		</dt>

		<dd class="layoutSettings">
			@Html.DisplayFor(model => model.merk)
		</dd>

		<dt class="layoutSettings">
			Type
		</dt>

		<dd class="layoutSettings">
			@Html.DisplayFor(model => model.Type)
		</dd>

		<dt class="layoutSettings">
			Dealer
		</dt>

		<dd class="layoutSettings">
			@Html.DisplayFor(model => model.dealer.naam)
		</dd>
		<input type="submit" value="Delete" class="btn btn-info layoutSettings" />
		<input value="Terug" class="btn btn-danger layoutSettings" onclick="location.href='@Url.Action("Index")'" />
	</dl>
</div>
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
	@Styles.Render("~/Content/main.css")
	@Styles.Render("~/Content/menu.css")
}
