@model WagenparkMVC.Models.auto

@{
	ViewBag.Title = "Details";
}

<div class="center jumbotron">
	<h3 class="layoutSettings">Auto Details</h3>
	<dl>
		<dt class="layoutSettings">
			Merk
		</dt>

		<dd class="layoutSettings">
			@Html.DisplayFor(model => model.merk)
		</dd>

		<dt class="layoutSettings">
			Type
		</dt>

		<dd class="layoutSettings">
			@Html.DisplayFor(model => model.Type)
		</dd>

		<dt class="layoutSettings">
			Dealer
		</dt>

		<dd class="layoutSettings">
			@Html.DisplayFor(model => model.dealer.naam)
		</dd>
		<input class="layoutSettings" value="Edit" class="btn btn-info" onclick="location.href='@Url.Action("Edit", new { id = Model.kenteken })'" />
		<input class="layoutSettings"value="Terug" class="btn btn-danger" onclick="location.href='@Url.Action("Index")'" />
	</dl>
</div>
@Styles.Render("~/Content/main.css")
