@model IEnumerable<WagenparkMVC.Models.auto>

@{
    ViewBag.Title = "Index";
}

<table class="table jumbotron">
    <tr>
        <th>
            Merk
        </th>
        <th>
            Type
        </th>
        <th>
            Naam
        </th>
        <th>
            Dealer ID
        </th>
	    <th>
	        @Html.ActionLink("Create New", "Create")
	    </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.merk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dealer.naam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEALER_DealerNr)
        </td>
		<td>
			@if (User.IsInRole("Admin"))
			{
				@Html.ActionLink("Edit", "Edit", new { id = item.kenteken })
				<br/>
				@Html.ActionLink("Delete", "Delete", new { id = item.kenteken })
			}
		</td>
    </tr>
}

</table>
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
	@Styles.Render("~/Content/main.css")
	@Styles.Render("~/Content/menu.css")
}