@model IEnumerable<WagenparkMVC.Models.auto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
	@if (User.IsInRole("Admin"))
	{
		@Html.ActionLink("Create New", "Create")
	}
</p>
<table class="table center login jumbotron">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.merk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dealer.naam)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.merk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dealer.naam)
        </td>
		<td>
			@if (User.IsInRole("Admin"))
			{
				@Html.ActionLink("Edit | ", "Edit", new { id = item.kenteken })
				@Html.ActionLink("Details | ", "Details", new { id = item.kenteken })
				@Html.ActionLink("Delete", "Delete", new { id = item.kenteken })
			}
			else
			{
				@Html.ActionLink("Details", "Details", new { id = item.kenteken })
			}
		</td>
    </tr>
}

</table>
