@model IEnumerable<WagenparkMVC.Models.onderhoud>

@{
	ViewBag.Title = "Index";
}

@Html.Raw(TempData["msg"])

<table class="table center layoutSettings jumbotron">
    <tr>
        <th>
            Kosten
        </th>
        <th>
            Kenteken
        </th>
        <th>
            Werkplaats
        </th>
		<th>
			@if (User.IsInRole("Admin"))
			{
			@Html.ActionLink("Create New", "Create")
			}
		</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.kosten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.auto.kenteken)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.werkplaat.naam)
        </td>
		<td>
			@if (User.IsInRole("Admin"))
			{	
			@Html.ActionLink("Edit", "Edit", new { id=item.onderhoudsdatum })
			<br />
			@Html.ActionLink("Delete", "Delete", new { id=item.onderhoudsdatum })
			}
		</td>
    </tr>
}

</table>
