@model IEnumerable<WagenparkMVC.Models.onderhoud>

@{
	ViewBag.Title = "Index";
}

<table class="table center layoutSettings jumbotron">
    <tr>
        <th>
            Kosten
        </th>
        <th>
            Merk
        </th>
        <th>
            Werkplaats
        </th>
		<th>
			@if (User.IsInRole("Admin"))
			{
			@Html.ActionLink("Create New", "Create")
			}
		</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.kosten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.auto.merk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.werkplaat.naam)
        </td>
		<td>
			@if (User.IsInRole("Admin"))
			{	
			@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ })
			<br />
			@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
			}
		</td>
    </tr>
}

</table>
