@model IEnumerable<WagenparkMVC.Models.dealer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table center layoutSettings jumbotron">
    <tr>
        <th>
            Dealers
        </th>
	    <th>
		    @if (User.IsInRole("Admin"))
		    {
			    @Html.ActionLink("Create New", "Create")
		    }
	    </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.naam)
        </td>
		<td>
			@if (User.IsInRole("Admin"))
		{
		@Html.ActionLink("Edit | ", "Edit", new { id = item.dealernr })
		@Html.ActionLink("Delete | ", "Delete", new { id = item.dealernr })
		@Html.ActionLink("Details", "Details", new { id = item.dealernr })
		}
		else
		{
		@Html.ActionLink("Details", "Details", new { id = item.dealernr })
}
		</td>
    </tr>
}

</table>
